services:
  postgres:
    image: postgres:15-alpine
    container_name: booking-pro-db
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: booking_pro
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: